<admin-header></admin-header>

<div class="product-form">
    <h2>Add Product Details</h2>


    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
       
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input autocomplete="off" formControlName="product_name" matInput type="text">

        </mat-form-field>

        <div class="row">
           
            <div class="col-md">
                <mat-form-field>
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

               
             </div>
            
            <div class="col-md">

                <button (click)="addCategory()" mat-raised-button color="primary" class="add-category-btn">Add New
                    Category</button>
               
            </div>

        </div><!--row ends-->


            <!--Description-->
                <mat-form-field appearance="outline">
                    <mat-label>Product Description</mat-label>
                    <input autocomplete="off" formControlName="description" matInput type="text">

                </mat-form-field>
       
                <mat-form-field appearance="outline">
                    <mat-label>Product Price/piece</mat-label>
                    <input autocomplete="off" formControlName="product_price" matInput type="number">

                </mat-form-field>
        

            <!--Quantity-->
                <mat-form-field appearance="outline">
                    <mat-label>Product Quantity</mat-label>
                    <input autocomplete="off" formControlName="total_quantity" matInput type="number">

                </mat-form-field>
        
        
        <button [disabled]="!(productForm.valid && productForm.dirty)" mat-raised-button color="primary" type="submit">Add Product</button>
    </form>


</div>