.fill-space {
    flex: 1 1 auto;
}

box {
    float: left;
}

aside,
section,
footer {
    box-sizing: border-box;
}

aside {
    width: 500px;
    float: left;
}

section {
    width: 60%;
    float: left;
    /* height: 100px; */
}

footer {
    clear: both;
}