<p>welcome to login page</p>

<button mat-button [matMenuTriggerFor]="menu">New User?</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Register</button>
</mat-menu>
<span class="fill-space "></span>
<button mat-button [matMenuTriggerFor]="menu2">Admin?</button>
<mat-menu #menu2="matMenu">
    <button mat-menu-item>Admin login</button>
</mat-menu>





<div class="row center-xs">
    <div class="box">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs">
                            <mat-form-field appearance="fill">
                                <mat-label>User name</mat-label>
                                <input autocomplete="off" formControlName="email" matInput type="text">
                                <span mat-icon-button matSuffix>
                    <mat-icon>person</mat-icon>
                  </span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="loginForm.invalid" mat-raised-button color="accent" type="submit">Login</button>
                    <button [disabled]="loginForm.invalid" mat-raised-button type="button" (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>

</div>