<div class="product-form">
    <h2>Edit Product Details</h2>


    <form [formGroup]="productForm" (ngSubmit)="editProduct()">
        <div class="row">

            <div class="col-xs">
                <mat-form-field appearance="standard">
                    <mat-label>Product Id</mat-label>
                    <input autocomplete="off" formControlName="product_id" matInput type="text">

                </mat-form-field>


                <mat-form-field>
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col">

                <!--Product Name-->

                <mat-form-field appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input autocomplete="off" formControlName="product_name" matInput type="text">

                </mat-form-field>



            </div>



            <!--Description-->
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Product Description</mat-label>
                    <input autocomplete="off" formControlName="description" matInput type="text">

                </mat-form-field>
            </div>

            <!--Price-->
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Product Price/Piece</mat-label>
                    <input autocomplete="off" formControlName="product_price" matInput type="number">

                </mat-form-field>
            </div>


            <!--Quantity-->
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Product Quantity</mat-label>
                    <input autocomplete="off" formControlName="total_quantity" matInput type="number">

                </mat-form-field>
            </div>

        </div>
        <!--row-->

        <button [disabled]="!(productForm.valid && productForm.dirty)" mat-raised-button color="primary" type="submit">Update Product</button>
    </form>


</div>