
<div class="parent">

    <div class="left-col">
        <button mat-raised-button color="primary" class="continue-shop">Continue Shopping</button>
        
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>


            <tr *ngFor="let items of cartItems">
                <td>{{items.product_name}}</td>
                <td>{{items.price}}</td>
                <td>{{items.total_quantity}}</td>
            </tr>
        </table>

        <br>
        <hr>
        <h3>Total Amount : <b>{{totalSum}}</b></h3>

    </div>

    <div class="right-col">
      
        <br>
        <button mat-raised-button color="primary" class="checkout-btn" (click)="checkout()">CheckOut</button>
    </div>

</div>